<h2 xmlns="http://www.w3.org/1999/html">
Welcome to Razor Timeclock for Executives!
</h2>

<button type="button" class="btn btn-default add_attribute_button">
  <span class="icon-plus-sign"></span>
  Button Text
</button>

<table class="table table-striped table-hover">

  <thead>
  <td>Time In</td>
  <td>Time Out</td>
  </thead>

  <tbody>
  <tr>
  <td>
    <button type="button"><%= link_to "Punch In", new_punch_path %> </button>
  </td>
  <td>
    <button type="button"><%= link_to "Punch Out", new_punch_path %> </button>
  </td>
    </div>
  </tr>

  <tr>
  <td>In 1</td>
  <td>Out 1</td>
  </tr>

  <ul>
    <% @punches.each do |punch| %>
    <tr>
      <td> <%= punch.time_in %> </td>
      <td> <%= punch.time_out %> </td>
    </tr>
  <% end %>
  </ul>
  </tbody>





</table>
