<h2>
Welcome to Razor Timeclock for Executives!
</h2>

<p>
  <%= link_to "<i class='icon-edit'></i>Punch In".html_safe, new_punch_path, class: 'btn btn-success'%>
</p>

<table class="table table-striped table-hover">

  <thead>
  <td>Time In</td>
  <td>Time Out</td>
  </thead>

  <tbody>
  <ul>
    <% @punches.each do |punch| %>
    <tr>
      <td> <%= punch.time_in %> </td>
      <td> <%= punch.time_out %> </td>
    </tr>
  <% end %>
  </ul>
  </tbody>





</table>
