<!DOCTYPE html>
<html>
<head>
  <title>Timeclock</title>
</head>
<body>

<a class="brand" href="/">
  <%= image_tag 'RazorBuzz_Icon.png', class: "logo" %>
</a>


<div class="container main-container">
  <div class="row">
    <div class="span12">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </div>
  <footer><p>&copy; RazorUSA LLC 2014</p></footer>
</div>

</body>
</html>
